body {
  width: 1920px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
}

header {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header-wrapper {
  font-family: 'Montserrat', sans-serif;
  height: 800px;
  text-transform: uppercase;
  background-image: url("images/Layer_66.jpg");
  margin-bottom: 91px;
}

.layer{
  background-color: #212121;
  opacity: 0.87;
  height: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo-wrapper a h1 {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1.92px;
  color: #fff;
  margin-top: 22px;
}

#main-menu {
  float: right;
  margin-top: 28px;
}

#main-menu li {
  display: inline-block;
  margin-left: 12px;
  padding-left: 11px;
}

#main-menu a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.68px;
}

#main-menu li.active,
#main-menu li:hover {
  border-bottom: 4px solid #ff4081;
  padding-bottom: 24px;
}

#main-menu li a i {
  margin-left: 9px;
}

.main-buner {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
}

.main-buner h2 {
  font-size: 18px;
  font-weight: 400;
  font-variant: small-caps;
  letter-spacing: 1.7px;
  margin: 216px 0 37px;
}

.main-buner p {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0.8px;
  width: 854px;
  padding-left: 161px;
  line-height: 51px;
}

.main-buner a {
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.9px;
  font-variant: small-caps;
  border-radius: 22px;
  background-color: #303f9f;
  padding: 14px 25px;
  margin-top: 88px;
}

.plate {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  margin-bottom: 88px;
}

.content {
  margin-right: 350px;
}

.sidebar {
  float: right;
  background-color: #fff;
  width: 330px;
}

main .container {
  overflow: hidden;
}

.plate-header {
  width: 100%;
  height: auto;
}

.plate-text {
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.plate-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin-bottom: 7px;
}

.plate-text p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.plate-footer {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  padding: 19px 20px 21px;
}

.plate-footer .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  padding-right: 10px;
}

.plate-footer .name {
  font-size: 14px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.plate-footer .info {
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #212121;
  opacity: 0.54;
}

.plate-footer span {
  margin-left: 12px;
}

.plate-footer .more-info {
  float: right;
  font-size: 18px;
  margin-top: 15px;
  color: #212121;
}

.plate-list {
  margin: 0 -8px;
}

.plate-list li {
  display: inline-block;
  width: 260px;
  margin: 0 8px;
}
.plate-list li:last-child {
  margin-left: 9px;
  margin-right: 7px;
}

.plate-text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-bottom: 7px;
}

.plate-list .plate-text p {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.56px;
}

.plate-list .plate-text {
  padding-top: 9px;
  padding-bottom: 25px;
}

.plate-list .plate-footer {
  padding: 15px 19px 21px;
}