html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    height: 100%;
    color: white;
    text-align: center;
}
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}