@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

header {
  /*position: absolute;*/
  margin-left: 30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

/* Header Start */

.header-wrapper {
  /*position: relative;*/
  height: 850px;
  width: 100%;
  background: url("img/header-bg.jpg");
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
}

.navigation-menu li {
  display: inline-block;
  margin-right: 38px;
}

.navigation-menu li:last-of-type {
  margin-right: 0;
  border: 1px solid #f9fafe;
  border-radius: 5px;
  padding: 15px 39px;
}

.navigation-menu li a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
}

.main-buner {
  max-width: 897px;
  margin: 230px auto 0;
  text-align: center;
  color: #f9fafe;
  text-transform: uppercase;
}

.main-buner h2 {
  font-size: 71px;
  font-weight: 700;
  letter-spacing: 4.54px;
  margin-bottom: 29px;
}

.main-buner p {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 90px;
}

.search-form {
  position: relative;

}

.search-form input {
  width: 769px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  text-transform: uppercase;
  color: #717171;
  font-size: 14px;
  letter-spacing: 0.56px;
  padding: 25px 0 23px 30px;
}

.search-form button {
  display: inline-block;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #e7434e;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  position: absolute;
  top: 0;
  right: 64px;
  padding: 24px 41px 23px 0;
}

.search-form button img {
  padding-left: 41px;
  padding-right: 11px;
}

/* Header And */
/* Main Start */

.statistic-list {
  background-color: #fff;
}

.statistic-list .block {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transform: translateY(-50%);
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
  border-radius: 5px;

}

.statistic-list .block li {
  border-right: 1px solid #d5d5d5;
  margin-top: 40px;
  margin-bottom: 27px;
  font-family: "Open Sans", sans-serif;
}

.statistic-list .block li:last-of-type {
  border-right: none;
}

.statistic-list .block h3 {
  color: #262626;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 17px;
}

.statistic-list .block p {
  color: #717171;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.36px;
}







.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
