@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

header {
  margin-left: 30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

/* Header Start */

.header-wrapper {
  height: 850px;
  width: 100%;
  background: url("img/header-bg.jpg");
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

.main-menu h1 {
  font-size: 0;
  margin-top: 2px;
}

.navigation-menu li {
  display: inline-block;
  margin-right: 38px;
}

.navigation-menu li:last-of-type {
  margin-right: 0;
  border: 1px solid #f9fafe;
  border-radius: 5px;
  padding: 12px 39px;
}

.navigation-menu li a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
}

.buner {
  max-width: 945px;
  margin: 210px auto 0;
  text-align: center;
  color: #f9fafe;
  text-transform: uppercase;
}

.buner h2 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 4.54px;
  margin-bottom: 16px;
}

.buner p {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 84px;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 769px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  text-transform: uppercase;
  color: #717171;
  font-size: 14px;
  letter-spacing: 0.56px;
  padding: 23px 0 22px 30px;
}

.search-form button {
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #e7434e;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.56px;
  position: absolute;
  top: 0;
  right: 64px;
  padding: 22px 41px 23px 0;
}

.search-form button .fa-ship {
  padding-left: 37px;
  padding-right: 11px;
  color: #fff;
}

/* Header And */
/* Main Start */

.statistic-list {
  background-color: #fff;
}

.statistic-list .block {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transform: translateY(-50%);
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
  border-radius: 5px;

}

.statistic-list .block li {
  border-right: 1px solid #d5d5d5;
  margin-top: 40px;
  margin-bottom: 27px;
  font-family: "Open Sans", sans-serif;
}

.statistic-list .block li:last-of-type {
  border-right: none;
}

.statistic-list .block h3 {
  color: #262626;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 17px;
}

.statistic-list .block p {
  color: #717171;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.36px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1173px;
  /*text-align: center;*/
}

.container h4 {
  color: #343435;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 41px;
  margin-bottom: 23px;
}

.container p {
  color: #717171;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 85px;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 117px;
}

.container li {
  position: relative;
  margin-bottom: 27px;
}

.container li:nth-child(n+3) {
  margin-bottom: 0;
}

.container span {
  position: absolute;
  top: 30px;
  left: 28px;
  background-color: #e7434e;
  padding: 13px 12px 13px 17px;
  border-radius: 5px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.64px;
}

.container span i {
  margin-right: 4px;
}

.container .cities-name {
  position: absolute;
  bottom: 32px;
  left: 28px;
  color: #fff;
  text-transform: none;
}

.container .cities-name h5 {
  font-size: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
}
/**/
.cities-name p {
  font-size: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 0;
  color: #fff;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.link {
  color: #343434;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  padding: 21px 38px 21px 44px;
  border-radius: 5px;
  border: 1px solid rgba(38, 38, 38, 0.3);
  background-color: #fff;
}

.link-button {
  margin: 0 auto 103px auto;
  text-align: center;
}

.second-section {
  height: 600px;
  width: 100%;
  background: url("img/main-img.jpg") no-repeat;
  margin-bottom: 96px;
}

.second-section .link {
  color: #fff;
  background-color: #e7434e;
  font-weight: 400;
}

.second-section .buner {
  margin: 0 auto;
  padding-top: 178px;
}

.second-section p {
  margin-bottom: 107px;
}

.second-section .link-button {
  margin: 0 auto;
}

.third-section .margin-bottom {
  margin-bottom: 96px;
}

/* Main End */
/* Footer Start */

.footer-container {
  position: relative;
  width: 100%;
  background-color: #404040;
}

.footer-container:before {
  background: url("img/fbg.png") no-repeat;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.footer-container .footer-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1173px;
}

.footer-container .footer-content {
  padding-bottom: 73px;
  padding-top: 62px;
  display: flex;
  justify-content: space-between;
}

.footer-container .footer-content li {
 width: 145px;
}

.footer-container .footer-content li:nth-child(3) {
  width: 417px;
}

.footer-container .footer-content h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.56px;
  margin-bottom: 14px;
}

.footer-container .footer-content p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.46px;
  line-height: 37px;
}

.footer-container .footer-content form {
  position: relative;
}

.footer-container .footer-content form input {
  border-radius: 5px;
  background-color: #fff;
  border: none;
  color: #717171;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.28px;
  padding: 14px 155px 12px 22px;
}


.footer-container .footer-content form button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #e7434e;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.28px;
  padding: 15px 35px 11px 38px;
}

.footer-content .social-network {
  padding-bottom: 0;
  padding-top: 48px;
}

.social-network .facebook a,
.social-network .twitter a,
.social-network .google a {
  display: inline-block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #717171;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
}

.social-network li {
  display: inline;
  margin-right: 16px;
}
